In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame()
df["id"] = np.array([1,2,3,4,5,6,7])
df["education"] = np.array([
    "No formal education",
    "Primary school",
    "High school",
    "Some college",
    "Bachelor’s degree",
    "Master’s degree",
    "Doctorate",
])
df

   id            education
0   1  No formal education
1   2       Primary school
2   3          High school
3   4         Some college
4   5    Bachelor’s degree
5   6      Master’s degree
6   7            Doctorate

In [3]:
df.to_csv("../data/education_table.csv",index=False)