In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("../data/loan_data_raw.csv")
df.head()

    age   ed  employ  address  income  debtinc   creddebt   othdebt default
0  41.0  3.0      17       12   176.0      9.3  11.359392  5.008608       1
1  27.0  1.0      10        6    31.0     17.3   1.362202  4.000798       0
2  40.0  1.0      15        7     NaN      5.5   0.856075  2.168925       0
3  41.0  NaN      15       14   120.0      2.9   2.658720  0.821280       0
4  24.0  2.0       2        0    28.0     17.3   1.787436  3.056564       1

In [3]:
df.rename(columns={
    "ed": "education",
    "debtinc": "debt_income_ratio",
    "address": "residence_duration",
    "employ": "employment_duration",
    "creddebt": "credit_debt",
    "othdebt": "other_debt",
},inplace=True)
df.head()

,age,education,employment_duration,residence_duration,income,debt_income_ratio,credit_debt,other_debt,default
0,41.0,3.0,17,12,176.0,9.3,11.359392,5.008608,1
1,27.0,1.0,10,6,31.0,17.3,1.362202,4.000798,0
2,40.0,1.0,15,7,NaN,5.5,0.856075,2.168925,0
3,41.0,NaN,15,14,120.0,2.9,2.658720,0.821280,0
4,24.0,2.0,2,0,28.0,17.3,1.787436,3.056564,1

In [4]:
df["default"].unique()

<StringArray>
['1', '0', ''0'', ':0']
Length: 4, dtype: str

In [5]:
df["default"] = df["default"].apply(lambda x: 1 if x == '1' else 0)
df["default"].unique()

array([1, 0])

In [6]:
df = df.astype({
    "age": "Int64",
    "education": "Int64",
})
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  681 non-null    Int64
 1   education            680 non-null    Int64
 2   employment_duration  700 non-null    int64
 3   residence_duration   700 non-null    int64
 4   income               663 non-null    float64
 5   debt_income_ratio    700 non-null    float64
 6   credit_debt          700 non-null    float64
 7   other_debt           700 non-null    float64
 8   default              700 non-null    int64
dtypes: Int64(2), float64(4), int64(3)
memory usage: 50.7 KB